name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install
      - name: Type Check
        run: pnpm run type-check
      - name: Build
        run: pnpm run build
      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          name: Release ${{ github.ref_name }}
          generate_release_notes: true
          files: |
            dist/zhihu-dark-theme.user.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
